button{
    background: #d3d3d3;
    width: 20px;
    height: 20px;
    border: none;
    margin-bottom: 3px;
    opacity: 0.7;
}

button:hover{
    background-color: lightslategray;
    opacity: 1;
}

  
  .range{
    -webkit-appearance: none;
    width: 40%;
    height: 20px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .range:hover {
    opacity: 1;
  }
  
  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: lightslategray;
    cursor: pointer;
  }
  
  .range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: lightslategray;
    cursor: pointer;
  }