* {
    font-family: monospace;
    
    
}

#canvasdiv {
  position: absolute;
  z-index: 8;
  background-color: #292934;
}

.readme{
  z-index: 11;
  position: absolute;
  color: black;
  top:0;
  left: 0;
  background-color: white;
}

#mydiv {
  top:5%;
  left: 5%;
  position: absolute;
  z-index: 9;
  background: white;
  border: 3px solid #292934;
  line-height: 3em;

}

#mydivheader {
  transition: background-color .3s;
  text-align: center;
  padding: 6px,10px,6px,10px;
  cursor: move;
  z-index: 10;
  /* border: #292934 solid 2px; */
  color: #292934;
  /* opacity: 0.7; */
}

#mydivheader:hover{
  transition: ease-in .3s;
  background-color: #292934;
  /* border-color: blue; */
}

.input{
  color: #292934;
  padding-left: 5% ;
  display: block;
}

.row2{
  width: 100%;
}

body{
background-color: #292934;
}


.column1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    overflow: hidden;
  }


canvas{
    background-color: white;
}

#gx{
    display: none;
}
#ix{
    display: none;
}
#hx{
    display: none;
}

#rangeK{
    display: none;
}

#rangeL{
    display: none;
}



/* .text {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 1.8em;
  }  */