#gx{
    visibility: hidden;
}
#ix{
    visibility: hidden;
}
#hx{
    visibility: hidden;
}

#rangeK{
    visibility: hidden;
}

#rangeL{
    visibility: hidden;
}

/* body{
    background-color: rgb(83, 6, 155);
} */